:host{
    display: block;
    height: 100%;
    overflow: auto;
}

a{
    text-align: left;
    font-size: x-large;
    color: rgb(42, 68, 68);
    display: block;
    margin: 15px;
}

.active-link{
    color:rgb(54, 28, 66);
    font-weight: bold;
}